lastupdate.tmp
.vscode/
convenios_crud
main
.scannerwork/
swagger/*.png
swagger/*.html
swagger/*.js
swagger/*.map
swagger/*.css
swagger/*.yml
swagger/css/
swagger/fonts/
swagger/images/
swagger/lang/
swagger/lib/
./refactor_controller/
refactor_controller/
ejec.sh